body {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    margin: 0;
    padding: 0;
    display: grid;
}

.navbar-vertical {
    background-color: #eff7f200;
    padding: 0 20px;
    margin-left: 0;
    position: flex;
    width: 220px;  /* Фиксированная ширина навбара */
    overflow: hidden;  /* Скрытие переполненного содержимого */
    white-space: wrap;  /* Отключение переноса текста */
    border-radius: 15px;
}

.navbar-vertical .nav-link {
    color: #000;
    font-size: 16px;
    padding: 10px 0;
    display: flex;  /* Изменение на block для переносов */
    white-space: wrap;  /* Включение переноса текста */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-size 0.3s ease-in-out;
}

.navbar-vertical .nav-link:hover {
    background-color: #d9f0e6;
    border-radius: 5px;
    white-space: wrap;
}

.navbar-vertical .nav-link i {
    margin-right: 10px;
    font-size: 20px;
}

/* Медиа-запросы для адаптации текста в навбаре */
@media (max-width: 1200px) {
    .navbar-vertical .nav-link {
        font-size: 14px;
    }
    .navbar-vertical .nav-link i {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .navbar-vertical .nav-link {
        font-size: 12px;
    }
    .navbar-vertical .nav-link i {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .navbar-vertical .nav-link {
        font-size: 10px;
    }
    .navbar-vertical .nav-link i {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .navbar-vertical .nav-link {
        font-size: 8px;
    }
    .navbar-vertical .nav-link i {
        font-size: 12px;
    }
}
.parent {
    padding: 10px;
    border-radius: 5px;
    /* background-color: #04e23f;  */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.child1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: #9ce210; */
}
.child2 {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: #e2bb10; */
}
/* Style for dropdowns */
.dropdown {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: left;
    width: 170px; 
    padding-top: 28px;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-right: 10px;
}

/* Style the dropdown options */
.dropdown .Select-control {
    border-radius: 4px;
    box-shadow: none;
    font-size: 12px;
    text-align: left; 
    white-space: wrap;
}

.dropdown .Select-menu {
    font-size: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left; 
    white-space: wrap;
}
   
.H3-grid{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
    /* background-color: #10c2e2; */
}

.H4-grid{
    font-size: 12px;
}



.box1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* background-color: #141514; */
    padding-left: 0px;
    padding-right: 0px;
}
.tab-content {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px #5f5c5c; /* Установка границы */
    border-bottom-left-radius: 25px; /* Скругление нижнего левого угла */
    border-bottom-right-radius: 25px; /* Скругление нижнего правого угла */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Установка тени */
    padding-left: 25px;
    padding-right: 25px;
}
.box2 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* background-color: #141514; */
    padding-left: 0px;
    padding-right: 0px;

}
.graph-prof{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;

}
.income-graphs{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #e2bb10;     */
}
.expence-graphs{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #e2bb10;     */

}
.child-income1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    min-width: 0; 
    min-height: 0;  
    overflow: hidden;   
    min-height: 80px;
}
.child-income2{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    min-width: 0; 
    min-height: 0;  
    overflow: hidden;  
    min-height: 580px; 
}
.child-expence1{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 4;
    min-width: 0; 
    min-height: 0;   
    overflow: hidden;   
    min-height: 580px;
}
.child-expence2{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;
    min-width: 0; 
    min-height: 0;   
    overflow:initial;   
    min-height: 580px;
}
* {
    box-sizing: border-box;
}

