body {
    font-family:  Arial, Helvetica, sans-serif;
    width:auto;
}

.navbar-vertical {
    background-color: #eff7f200;
    padding: 0 20px;
    margin-left: 0;
    position: fixed;
    width: 220px;  /* Фиксированная ширина навбара */
    overflow: hidden;  /* Скрытие переполненного содержимого */
    white-space: nowrap;  /* Отключение переноса текста */
    border-radius: 15px;
}

h1 {
    flex-shrink: 1; /* Позволяет заголовку сжиматься */
    margin-left: 30%;
    font-size: min(5vw, 1rem); /* Ширина в процентах или максимальный размер шрифта */
    overflow: hidden; /* Прятать переполняющий текст */
}

.container {
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

.navbar-vertical .nav-link {
    color: #000;
    font-size: 16px;
    padding: 10px 0;
    display: block;  /* Изменение на block для переносов */
    white-space: normal;  /* Включение переноса текста */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-size 0.3s ease-in-out;
}

.navbar-vertical .nav-link:hover {
    background-color: #d9f0e6;
    border-radius: 5px;
}

.navbar-vertical .nav-link i {
    margin-right: 10px;
    font-size: 20px;
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

.card {
    margin-bottom: 20px;
}

.container-fluid {
    margin-top: 20px;
    transition: margin-left 0.5s ease-in-out;
    width: auto;
}

.page-transition {
    transition: opacity 0.5s ease-in-out;
}

.page-enter {
    opacity: 0;
}

.page-enter-active {
    opacity: 1;
}

.page-leave {
    opacity: 1;
}

.page-leave-active {
    opacity: 0;
}

/* Медиа-запросы для адаптации текста в навбаре */
@media (max-width: 1200px) {
    .navbar-vertical .nav-link {
        font-size: 14px;
    }
    .navbar-vertical .nav-link i {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .navbar-vertical .nav-link {
        font-size: 12px;
    }
    .navbar-vertical .nav-link i {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .navbar-vertical .nav-link {
        font-size: 10px;
    }
    .navbar-vertical .nav-link i {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .navbar-vertical .nav-link {
        font-size: 8px;
    }
    .navbar-vertical .nav-link i {
        font-size: 12px;
    }
}
